.containerPC1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: normal;

  width: 100vw;
}

.assets, .userInteraction{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.assets{
  width: 20%;
  min-height: 100px;
  height: 100vh;
  border-style: solid;
  border-color: black;
  border-width: 0 .5px 0 0;
}



.userInteraction{
  width: 100%;
}



.containerPC{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
}
.item1PC, .item2PC, .item3PC{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;

  width: 50vw;
  /* min-width: 500px; */
}

.item2PC2{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
}

.inputs{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Btn{

  border-width: 0px;
  background: rgb(45, 186, 246);
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 20px;

}

.addAsset, .uploadFile, .recordVideo{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin: 2px;
}

.assetsUploadOption, .inputFile, .videoRecorder{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 100%;
}

.assetsUploadOption{
  /* width: 0; */
}

.trainBtns{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.detectron, .GenAI{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.containerMobile{

}
